@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649947044448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingyue:before {
  content: "\f01bc";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-gmail:before {
  content: "\e69b";
}

